* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}
body {
    background-color: black;

}
main {
    background-color: burlywood;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3x 3x 5px brown;

}